{% trans_default_domain 'FOSUserBundle' %}

{% extends 'admin/layout.html.twig' %}

{% block content %}
    <p>Félicitation, votre compte a bien été crée</p>
    <h5><a class="navbar-brand" href="{{ path('project')}}">Retour à l'accueil</a></h5>
{% endblock content %}
