.hide{
    display: none;
}
.content{
    margin-top: 85px;
}
div .modal-dialog-centered{
    max-width: 1600px;
}
#exampleModalCenter .modal-body{
    /*overflow: auto;*/
    max-height: 650px;
}
.modal-block{
    min-height:500px;
    position: relative;
    width:100%;
}
.modal .modal-text{
    display:table-cell;
    /*display:flex;*/
    /*justify-content:center;*/
    /*align-items:center;*/
    width:30%;
    /*max-height:600px;*/
    height:600px;
    float: left;
    overflow: auto;
    vertical-align: middle;
}

#img_modal{
    width: 40%;
    max-height: 600px;
    float: left;
    overflow: auto;
}
#img_modal img{
    width: 90%;
    height: auto;
}    
a.btn:hover{
    text-decoration: underline;
}
#la_carte{
    overflow: hidden;
}
#titre {
    margin-right: 50%;
}
.plus_case{
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    float: left;
    cursor: pointer;
}
.plus_case div{
    line-height:1em;
}


.plus_case_repere{
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    float: left;
    border: 2px solid black;
    cursor: pointer;
}
.plus_case_repere div{
    line-height:0.9em;
}
#btn-saved, nav a,nav .btn-link, div a{
    color:black;
}

.txt1,.txt2{
    width: 30%;
    text-align: center;
}
.img-title{
    width: 40%;
    text-align: center;
}
/*hack modal*/
div.modal div.modal-backdrop {
    z-index: 0;
}
body.modal-open div.modal-backdrop { 
    z-index: 0; 
}

#repere-list .list-group{
    width: 100%;
}