.hide{
    display: none;
}
.content{
    margin-top: 85px;
}
div .modal-dialog-centered{
    max-width: 1600px;
}
#exampleModalCenter .modal-body{
    /*overflow: auto;*/
    max-height: 650px;
}
.modal-block{
    min-height:500px;
    position: relative;
    width:100%;
}
.modal .modal-text{
    display:table-cell;
    /*display:flex;*/
    /*justify-content:center;*/
    /*align-items:center;*/
    width:500px;
    /*max-height:600px;*/
    height:600px;
    float: left;
    overflow: auto;
    vertical-align: middle;
}

#img_modal{
    width: 500px;
    max-height: 600px;
    float: left;
    overflow: auto;
}
a.btn:hover{
    text-decoration: underline;
}
#la_carte{
    overflow: hidden;
}
#titre {
    margin-right: 50%;
}